<% stylesheet('/../css/forms.css') -%>

Deja un comentario:<br/><br/>
<div class="form">
	
	<% form_for("comment", function(f){ %>
		<%- f.label_for("Autor") %> <span/>
		<%- f.text_field("name",{class:"rounded"}) %><br /><br />
		<%- f.label_for("Comentario") %><br />
		<%- f.text_area("text",{class:"rounded"}) %><br /><br />
		<%- f.hidden_field("post_id", post.id )%>
		<%- f.submit("Comentar",{class: 'button rounded'}) %>
	<% }) %>

</div>
